* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: JetBrains;
    src: url(fonts/variable/JetBrainsMono[wght].ttf);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: JetBrains;
    overflow-x: hidden;
  }


nav a {
    margin-right: 50px;
    color: white;
    text-decoration: none;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        font-size: 3.4vw;
        width: 100%;
    }
}

header {
    display: flex;
    position:sticky;
    top: 0;
    min-width: 100vw;
    height:fit-content;
    font-weight: 700px;
    margin-bottom: 10px;
    padding: 15px 30%;
    background-color: black;
    box-shadow: -1px 30px 20px -1px rgb(0, 0, 0);
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.ilustration{
    position: relative;
}

#imgBlack {
    width: 100%; 
    height: auto; 
    display: flex; 
    background-repeat: no-repeat;
}

#imgAstro {
    position: absolute;
    bottom: 20%;
    left: 44%; 
    width: 800px; 
    max-width: 100%; 
    animation: float 6s ease-in-out infinite;
    z-index: 1;
}

@media screen and (max-width: 1463px) {
    #imgAstro {
        width: 0%; /* The illustration desappear */
    }
}

@keyframes float {
	0% {

		transform: translatey(0px);
	}
	50% {
		transform: translatey(-40px);
	}
	100% {
		transform: translatey(0px);
	}
}



#meText{
    position:absolute;
    left: 10%; 
    right: 10%; 
    top: 30%; 
    width: 60%; 
    max-width: 60%;
    min-width: 350px;
    padding: 5px;
    font-size: 36px; /* Set the initial font size */
    z-index: 1;
}



/* Media query for smaller screens */
@media (max-width: 600px) {
    #meText {
        left: 5%; 
        right: 5%; 
        top: 20%;
        width: 100%; 
        font-size: 20px; 
    }
    
}


@media (max-width: 300px) {
    .meText {
        left: 5%; 
        right: 5%; 
        top: 30%;
        width: 100%; 
        font-size: 20px; 
    }
}

@media (max-width: 300px) {
    .meText {
        left: 5%; 
        right: 5%; 
        top: 30%;
        width: 100%; 
        font-size: 20px; 
    }
}

@media (max-width: 600px) {
    .warapper-main {
        width: 100%; 
        
    }
}
@media (min-width: 601px) {
    .warapper-main {
        width: 100%; 
        
    }
}
@media(min-width: 768px) {
    .warapper-main {
        width: 100%; 
        
    }
}

@media(min-width: 992px) {
    .warapper-main {
        width: 100%; 
        
    }
}


.highlight2 {
    width: 100%;
    max-width: 600px;
    color: #eb145b;
    overflow: hidden;
    border-right: .15em solid #eb145b;
    white-space: nowrap;
    letter-spacing: .10em;
    animation: 
      typing 2s steps(20, end),
      blink-caret .8s step-end infinite;
  }
  



h1,h2{
    color: white;  
}


a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

a:hover {
   color: #fff;
   transition: 0.7s;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(255, 255, 255),
      0 0 82px rgb(255, 255, 255),
      0 0 92px rgb(255, 255, 255),
      0 0 102px rgb(255, 255, 255),
      0 0 151px rgb(255, 255, 255);
    
}



.meBody {
    width: 100%;
    flex-wrap: wrap;
    color: #fff;
    text-align: center;
    padding: 30px; /* Reduzido para melhorar o espaçamento em telas menores */
    z-index: 1;
    margin-top: 50px;
}


#imgBlack {
    width: 100%;
    max-height: 90vh; /* Reduzido para melhorar o ajuste em telas menores */
    object-fit: cover;
    position: relative;
}



.about {
    width: 100%;
}


#about{
    width: 100%;
    padding: 30px;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    
}

.second-part{
    text-decoration: underline wavy #eb145b;/*Underline decoration*/
}

.highlight{
    color: #eb145b;
}
  
.expanded .details {
    display: inline-block;
}

.details {
    display: none;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(255, 0, 98); 
    white-space: nowrap; 
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}



  .summary:hover{
    cursor: pointer;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0px }
    to { width: 800px }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 0, 98); }
  }
  

.space{
    height: 400px;
    margin-left: 75%;
   
    
}
.space2{
    height: 400px;
    margin-right: 75%;   
}

@media (max-width: 768px) {
    .space, .space2 {
        margin-left: 10%; 
        margin-right: 10%; 
    }
}

@media (max-width: 576px) {
    .space, .space2 {
        margin-left: 1%; 
        margin-right: 5%; 
    }
}

p{
    max-width: 80rem;
    text-indent: 40px;
    font-size: 24px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 20px auto; 
    max-width: 50%;
    min-width:min-content;
    gap: 20px;
    height: 100vh; 
    overflow-x: hidden;
     /* Enable vertical scrolling if necessary */
    scrollbar-width: none;
}

.skills {
    border: 3px solid white;
    min-width: 200px;
    flex:1;
    text-align: center;
    font-size: 15px;
    padding: 5px; /* Add internal spacing */
    border-radius: 8px;
}



.skills:hover{
    background-color: #eb145b;
    box-shadow: 0px 0px 50px 10px #eb145b;
    transition: all 200ms cubic-bezier(0, 0, 1, 1);
}


#skills{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
}


.slider-container {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    padding: -15%; 
    height: 90vh; 
    width: 900px;
    max-width: 100%; 
    margin: 2% auto; /* Center the slider horizontally */
    min-width: 420px;
}

.slider {
    display: flex; 
    transition: transform 0.9s ease;
    height: 40vh; 
    width: 80%; 
    margin: 0 auto; /* Center the slider */
}

.slide {
    width: 100%; 
    flex-shrink: 0; /* or adjust for grid */
    /* For demonstration purpose */
    height: 100%;
    padding: 0;
    margin-right: 5%; /* Add margin between slides */  
}
  
.slide:hover{
    cursor: pointer;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    text-decoration: none;
    top: 80%;
    transform: translateY(-90%);
    z-index: 1;
}

button.prev, button.next {
    padding: 2em 3em;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 1em;
    background: rgb(0, 0, 0);
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
    left: -1%; /* Position the prev button to the left outside the slider container */
}

button.prev::before, button.next::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    border-radius: inherit;
    transform: translate3d(0, 0.75em, -1em);
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

button.prev:hover::before, button.next::hover::before {
    transform: translate3d(0, 0.75em, -1em);
}

button.prev:hover, button.next:hover {
    background: #eb145c;
    transform: translate(0, 0.375em);
    color: #fff;
    transition: 0.7s;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(255, 255, 255), 0 0 82px rgb(255, 255, 255), 0 0 92px rgb(255, 255, 255), 0 0 102px rgb(255, 255, 255), 0 0 151px rgb(255, 255, 255);
}

button.prev:active, button.next:active {
    transform: translate(0em, 0.75em);
    transition: 0.10s;
}
  
  

#projects{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
}

.card{
    border: 3px solid white;
    font-size: 10px;
    
}
.cardImg{
    width: 500px;
}


#contact{
    padding: 40px;
    text-align: center;
    font-size: 40px;
    color: white;
}

form {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid white;
    border-radius: 8px;
    margin-bottom: 100px;
    margin-top: 0;
}

label {
    font-weight: bold;
    color: #ffffff;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

footer{
    padding: 0;
    margin: 0;
}
